---
# See ../DEPENDENCIES.md#workaround-for-other-dependencies
name: Dependabot hack
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - never-trigger-this-dependabot-hack-workflow
jobs:
  dependabot_hack:
    name: Ensure dependabot version checks
    runs-on: "ubuntu-latest"
    steps:
      # Dockerfile:
      - uses: Azure/azure-cosmos-dotnet-v3@3.54.0
